@model BusinessSolutions.MVC.Models.Order.AddOrderRequest
@{
    ViewData["Title"] = "Add Order Page";
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        console.log("error");

        $.get("getproviders/",
            {},
            function (data) {
                displayProviders(data);
            })
    })

    function displayProviders(data) {
        let length = data.length;
        for (let i = 0; i < length; i++) {
            $("#providers").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
        }
    }
</script>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Add Order</h1>
        <form asp-action="Add" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <select class="option" asp-for="ProviderId" id="providers">
                    
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control"/>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>          
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <a asp-action="Add"><input type="submit" value="Submit" class="btn btn-primary w-100" /></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="/" class="btn btn-secondary  w-100">View All</a>
                </div>
            </div>
        </form>
    </div>
</div>
@{

}
