@{
    ViewData["Title"] = "Main Page";
}
<script>
    function addProduct()
    {
        let str = "12"
        $.get("Add/" + str,
       {
            search: str.value
       },
       function(data) 
       {
            alert("успешно");
       });
    }
</script>


<div class="flex-options">

    <div class="flex-option-item">
        <select class="option">
          <option value="0">Не указано</option>
          <option value="1">Синий</option>
          <option value="2">Зеленый</option>
          <option value="3">Желтый</option>
          <option value="4">Красный</option>
          <option value="5">Оранжевый</option>
          <option value="6">Черный</option>
        </select>
    </div>

    <div class="flex-option-item">
        <input class="start-input" alt="Start with" placeholder="last date" type="date" value="" autocomplete="off" />
    </div>

    <div class="flex-option-item">
        <input class="end-input" alt="End" placeholder="last date" type="date" value="" autocomplete="off" />
    </div>

    <div class="flex-option-item">
        <button class="button-accept-filter">
            Применить фильтры
        </button>
    </div>
</div>

<div class="flex-content">
    <table border="1" class="flex-content-item">
        <thead>
           <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Date</th>
                <th>Provider</th>            
           </tr>
        </thead>
        <tbody id="content">
           <tr><td>34,5</td><td>3,5</td><td>36</td><td>23</td></tr>      
        </tbody>
      </table>
</div>

<button class="add-order-button" onclick="addProduct">
    Добавить заказ
</button>